/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root {
    margin: 0;
    font-family:  Arial, Georgia, 'Times New Roman', Times;
}
body,html {
    margin: 0;
    padding: 0;
    
}

.container {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    flex: 1;
}

.sidebar {
    width: 35vw;
    height: 100vh;
}
img {
    width: 35vw;
    height: 99.75vh;
    margin: 0px;
}

.header {
    padding: 1vh;
    background-color:#f2f3f4;
    color: black;
    height: 30vh;
    margin: 0;
    font-size: calc(6px + 1vw);
    
}

.rightSide {
    display: flex;
    flex-direction: column;
}


label,input {
    display: flex;
    flex-direction:column;
}

.signUpHeader {
    font-size: calc(16px + 1vw);
    padding: 8px;
}
.mainInformation {
    height: 30vh;
    padding: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:#fdfefe;
    box-shadow: 10px 5px 5px gainsboro;
    position: relative;
    z-index: 10;
}


.submit {
    height: 34.5vh;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color:#f2f3f4;
    padding: 16px;
    flex-wrap: wrap;
}

.submitButton {
    width: 15vw;
    height: 3vh;
    background-color: #aed6f1;
    border-radius: 8px;
    border: none;
}
.submitButton:hover {
    box-shadow: 10px 5px 5px gainsboro;
}

.heroText {
    margin-top: 10vh;
    font-weight: 550;
    width: 40vw;
    padding-left: 10vw;
    line-height: 145%;
}

.underHeroText {
    padding-left: 25vw;
    padding-top: 2vh;
}
.break {
    flex-basis: 100%;
    height: 0;
  }

.lastNameInput, .phoneNumberInput, .confirmPasswordInput {
    margin-left: 5vw;
}

.overlap {
    position: absolute;
    width:35vw;
    height: 20vh;
    background-color: black;
    top: 12vh;
    opacity: 25%;
    color: white;
    align-items: center;
}

fieldset {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

input {
    border-color: #E5E7EB;
    border-width: 1px;
    border-radius: 4px;
    width: min(25vw, 250px);
    height: 2.25vh;
}

input:hover {
    box-shadow: 10px 5px 5px gainsboro;
}
